<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="description for your website" />
        <meta name="keywords" content="tags" />
        <meta name="author" content="Your Name" />

        <title>Angular Controllers</title>

        <link rel="stylesheet" type="text/css" href="./css/style.css">

        <script src="./libs/js/angular.min.js"></script>
        <script src="./libs/js/angular-touch.min.js"></script>

        <script src="./js/app.js"></script>
    </head>
    <body data-ng-app="appName">
        <div data-ng-controller="MainCtrl">
            <input type="text" data-ng-model="bg">
            <input type="text" data-ng-model="text">
            <br><br>
            <div data-ng-style="{background: bg, color: text}">
                lakjsdf;lakjsdf;lakjdf;lskajf
            </div>
            <br><br>
            <div data-ng-hide="visible" data-ng-click="hide()">
                {{color}}
            </div>

            <div data-ng-click="show()">
                Show
            </div>
        </div>
    </body>
</html>